<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cart</title>
    <link rel="stylesheet" href="/public/styles/cart.css">
</head>
<body>
<div class="container">


    <div class="grid-item" id="logoback">
        <div class="flexcontainer">
            <a href="/">
                <button id="backbttn"><img src="/public/images/back.jpg" alt="back" id="natrag"></button>
            </a>
            <img src="/public/images/logo.jpg" alt="logo" id="logo">
        </div>

    </div>





    <div class="grid-item" id="hello">
        <span id="naslov"></span>
        <img src="/public/images/background.jpg" alt="hellllo" id="pozdrav">
    </div>




    <div class="grid-item" id="main">
        <div class="kosaricagl">
            <div class="strana" id="lijeva">
                <ul class="listaproizvoda" id="lijevalista">

                </ul>
            </div>
            <div class="strana" id="desna">
                <ul class="listaproizvoda" id="desnalista">

                </ul>
            </div>

        </div>
    </div>
</div>


</body>
<script type="module" src="/public/sripts/cart.js"></script>
</html>